@import "./base.css";

.dark-title {
  color: var(--txt-dark);
}

.light-title {
  color: var(--txt-light);
}

.title-flex {
  display: flex;
  align-items: center;
  font-weight: 250;
}

.big-title-font {
  font-family: "Orbitron";
  font-weight: 400;
  letter-spacing: 15px;
  font-size: 50px;
}
.var-big-title-font {
  font-family: "Orbitron";
  font-weight: 400;
  letter-spacing: 15px;
  font-size: 50px;
}

@media (max-width: 600px) {
  .var-big-title-font {
    font-size: 30px;
    letter-spacing: 10px;
  }
}

.title-font {
  font-weight: 250;
}

.text-font {
  font-family: "OpenSans";
  font-weight: 600;
}

.number-font {
  font-family: "ShareTech";
  letter-spacing: 1px;
  font-weight: 500;
}

.client-font {
  font-family: "Alegreya";
  font-weight: 500;
  text-transform: none;
}

.month-font {
  font-family: "Alegreya";
  font-weight: 500;
}

.selector-font .v-input__control,
.selector-font .v-select__selections,
.selector-font .v-list-item__title,
.selector-font .v-list-item__content {
  font-family: "OpenSans";
}

@font-face {
  font-family: "Orbitron";
  src: url("/public/fonts/Orbitron.ttf");
}
@font-face {
  font-family: "ShareTech";
  src: url("/public/fonts/ShareTech.ttf");
}
@font-face {
  font-family: "Alegreya";
  src: url("/public/fonts/Alegreya.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("/public/fonts/OpenSans.ttf");
}

.input-field .v-field__input,
.input-field .v-field__clearable,
.input-field .v-field__prepend-inner,
.input-field .v-field__append-inner,
.input-field .v-progress-linear,
.input-field .v-select__selection,
.input-field .v-label,
.btn .v-btn__content,
.btn .v-btn__prepend,
.btn .v-btn__append {
  color: var(--txt-light);
}
